# file: ~/.gitignore_global
.DS_Store
.idea

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
.idea/modules.xml
.idea/*.iml
.idea/modules
*.iml

# Ignore the target folder and the dependency reduced pon
*/target/**
/target/*
dependency-reduced-pom.xml


