body{
	margin: 5vw;
  font: 400 15px Lato, sans-serif;
  background-color: #852025;
}

.pagetitle{
	text-align: center;
	font-size: 1.2vw;
}

/* Bordered form */
form {
  margin-top: 12vw;
  margin-left: 27vw;
  margin-right: 27vw;
  border-radius: .2vw;
  background-color: white;
  opacity: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=email], input[type=password], input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #852025;
  border-radius: .2vw;
  box-sizing: border-box;
  font-size: .8vw;
}

select{
  width: 100%;
  font-size: 1vw;
  border: 2px solid #852025;
  margin: 8px 0;
  border-radius: .2vw;
  padding: 12px 20px;
}

.g-recaptcha{
  margin-top: 1vw;
}

.button {
  background-color: white;
  border: 2px solid #852025;
  color: #000000;
  font-weight: bold;
  border-radius: .2vw;
  padding: .5vw 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .6vw;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin-top: 1vw;
}

.button:hover {
  background-color: #852025;
  color: white;
}

.loginform{
  padding: 1vw;
  font-size: 2vw;
}

.rememberme{
  cursor: pointer;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: .8vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 1px;
  left: 8px;
  height: 15px;
  width: 15px;
  background-color: #852025;
  border-radius: 1vw;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #852025;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #852025;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;

}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 4px;
  width: 2px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#result{
  margin-left: 100px;
  font-size: 1vw;
}